@model IEnumerable<ProductType>
@{
    ViewData["Title"] = "Index";
}

@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Fluent
@using X.PagedList.Web.Common
<div card="card">
    <div class="card-body">
        <h4 class="card-title">Product Type</h4>
        <div class="d-flex justify-content-end mb-1">


            <!-- Button trigger modal -->
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#del">
                Action
            </button>

            <!-- Modal -->
            <div class="modal fade" id="del" tabindex="-1" role="dialog" aria-labelledby="dellebel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="dellebel">Data modification</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a class="dropdown-item btn btn-info" asp-action="Index" asp-controller="ProductTypes">Modify Type</a><hr />
                            <a class="dropdown-item btn btn-info" asp-action="CreateAll" asp-controller="Type">Add Type with Products</a><hr />
                            <a class="dropdown-item btn btn-info" asp-action="Index" asp-controller="Products">Modify Products</a><hr />
                            <a class="dropdown-item btn btn-info" asp-action="Index" asp-controller="Features">Modify feature</a>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-text">
            <table class="table">
                <thead class="">
                    <tr>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model)
                    {
                        <tr>
                            <td style="width:50px">
                                <button type="button" style="background-color:darkgrey;" class="btn btn-sm type" data-type-pk="@i.ProductTypeID"><span class="fa fa-angle-double-down fa-2x" style="font-weight:bolder"></span></button>
                            </td>

                            <td class="py-3"><h4>@i.ProductTypeName</h4></td>
                            <td>
                                <a asp-action="MultipleEdit" asp-controller="Type" asp-route-id="@i.ProductTypeID" class="btn btn-outline-info "><i class="ti-pencil-alt"></i></a>



                                
                                <a asp-action="Delete" asp-controller="Type" asp-route-id="@i.ProductTypeID" class="btn btn-danger btn-sm rounded-circle del-type">
                                    <i class="ti-trash"></i>
                                </a>

                              
                                @*<a asp-action="Delete" asp-controller="Type" asp-route-id="@i.ProductTypeID" class="btn btn-danger btn-sm rounded-circle">Delete<span class="fa fa-trash"></span></a>*@
                            </td>

                        </tr>
                        <tr style="display:none" id="type-@i.ProductTypeID" class="child-row">
                            <td></td>
                            <td colspan="3">
                                <table class="table table-bordered text-center">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th></th>
                                            <th>Id</th>
                                            <th>Product Name</th>
                                            <th>Release Date</th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @foreach (var p in i.Products)
                                        {
                                            <tr>
                                                <td class="py-0">
                                                    <button type="button" class="btn  product" data-product-pk="@p.ProductId"><span class="fa fa-plus-square" style="padding:10px"></span></button>
                                                </td>
                                                <td>@p.ProductId</td>
                                                <td class="py-3">@p.ProductName</td>
                                                <td>@p.ReleaseDate</td>
                                            </tr>
                                            <tr style="display:none;" id="product-@p.ProductId" class="child-row">
                                                <td>&nbsp;</td>
                                                <td>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lightgray">Price</th>

                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var f in p.Features)
                                                            {
                                                                <tr>
                                                                    <td>@f.Price</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lightgray">Display</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var f in p.Features)
                                                            {
                                                                <tr>
                                                                    <td>@f.Display</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lightgray">Camera</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var f in p.Features)
                                                            {
                                                                <tr>
                                                                    <td>@f.Camera</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                    <table class="table table-bordered">
                                                        <thead>
                                                            <tr>
                                                                <th style="background-color:lightgray">Keybord Compatibility</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @foreach (var f in p.Features)
                                                            {
                                                                <tr>
                                                                    <td>@f.KeybordCompatibility</td>
                                                                </tr>
                                                            }
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-end">
            @(Html.Pager((IPagedList)Model)
                                                        .Url(page => Url.Action("Index", "Type", new { page = page }))
                                                        .Build()
            )
        </div>
    </div>
</div>

@section styles{
    <environment include="Development">

        <link href="~/libs/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/libs/popper/popper.js"></script>
        <link href="~/libs/PagedList/PagedList.css" rel="stylesheet" />
        <link href="~/libs/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/form/fonts/themify-icons/themify-icons.css" rel="stylesheet" />
        <script src="~/libs/bootstrap/js/bootstrap.js"></script>
        <script src="~/libs/jquery/jquery.js"></script>
        <style>
            body {
                background-color: aliceblue;
            }
        </style>
        <script>
            $(document).ready(() => {
                $("button.type").click(function () {
                    var id = $(this).data("type-pk");
                    $("#type-" + id).toggle();
                    $(this).find("span").toggleClass("fa-angle-double-down fa-angle-double-up");
                });
                $("button.product").click(function () {
                    var id = $(this).data("product-pk");
                    $("#product-" + id).toggle();
                    $(this).find("span").toggleClass("fa-plus-square fa-minus-square");
                });
                $(".del-type").click(function (e) {
                    if (!confirm("Are you sure to delete?")) {
                        e.preventDefault();
                        e.stopPropagation();
                    }
                })
            })
        </script>
    </environment>
}